In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [57]:
dados = pd.read_csv('datatran2022.csv', encoding='latin-1', sep = ';')
dados.head()

,id,data_inversa,dia_semana,horario,uf,br,km,municipio,causa_acidente,tipo_acidente,...,feridos_graves,ilesos,ignorados,feridos,veiculos,latitude,longitude,regional,delegacia,uop
0,405151,2022-01-01,sábado,01:35:00,PI,316.0,415,MARCOLANDIA,Ingestão de álcool pelo condutor,Colisão traseira,...,0,1,0,1,2,"-7,43280012",-40.682619,SPRF-PI,DEL04-PI,UOP03-DEL04-PI
1,405158,2022-01-01,sábado,02:40:00,PR,116.0,33,CAMPINA GRANDE DO SUL,Ingestão de álcool pelo condutor,Tombamento,...,0,0,0,1,1,"-25,114403",-48.846755,SPRF-PR,DEL01-PR,UOP02-DEL01-PR
2,405172,2022-01-01,sábado,05:22:00,MS,163.0,393,NOVA ALVORADA DO SUL,Condutor deixou de manter distância do veículo...,Colisão traseira,...,0,1,0,1,2,"-21,228445",-54.456296,SPRF-MS,DEL02-MS,UOP01-DEL02-MS
3,405203,2022-01-01,sábado,07:00:00,RJ,101.0,457,ANGRA DOS REIS,Reação tardia ou ineficiente do condutor,Colisão frontal,...,1,1,0,1,2,"-23,03149804",-44.177153,SPRF-RJ,DEL03-RJ,UOP02-DEL03-RJ
4,405207,2022-01-01,sábado,09:00:00,MG,40.0,"508,3",RIBEIRAO DAS NEVES,Acumulo de água sobre o pavimento,Saída de leito carroçável,...,0,3,0,0,1,"-19,76061249",-44.134754,SPRF-MG,DEL02-MG,UOP01-DEL02-MG

In [58]:
dados.shape

(42070, 30)

In [59]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42070 entries, 0 to 42069
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      42070 non-null  int64
 1   data_inversa            42070 non-null  object
 2   dia_semana              42070 non-null  object
 3   horario                 42070 non-null  object
 4   uf                      42070 non-null  object
 5   br                      41932 non-null  float64
 6   km                      41932 non-null  object
 7   municipio               42070 non-null  object
 8   causa_acidente          42070 non-null  object
 9   tipo_acidente           42070 non-null  object
 10  classificacao_acidente  42070 non-null  object
 11  fase_dia                42070 non-null  object
 12  sentido_via             42070 non-null  object
 13  condicao_metereologica  42070 non-null  object
 14  tipo_pista              42070 non-null  object
 15  tracado_via             42070 non-null  object
 16  uso_solo                42070 non-null  object
 17  pessoas                 42070 non-null  int64
 18  mortos                  42070 non-null  int64
 19  feridos_leves           42070 non-null  int64
 20  feridos_graves          42070 non-null  int64
 21  ilesos                  42070 non-null  int64
 22  ignorados               42070 non-null  int64
 23  feridos                 42070 non-null  int64
 24  veiculos                42070 non-null  int64
 25  latitude                42070 non-null  object
 26  longitude               42070 non-null  float64
 27  regional                42065 non-null  object
 28  delegacia               42053 non-null  object
 29  uop                     42006 non-null  object
dtypes: float64(2), int64(9), object(19)
memory usage: 9.6+ MB

In [60]:
dados_renomeado = dados.rename(columns = {"uop":"unidade_operacional_policiamento", "data_inversa":"data"})

In [61]:
dados_renomeado['data'] = pd.to_datetime(dados_renomeado['data'])

In [62]:
dados_renomeado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42070 entries, 0 to 42069
Data columns (total 30 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                42070 non-null  int64
 1   data                              42070 non-null  datetime64[ns]
 2   dia_semana                        42070 non-null  object
 3   horario                           42070 non-null  object
 4   uf                                42070 non-null  object
 5   br                                41932 non-null  float64
 6   km                                41932 non-null  object
 7   municipio                         42070 non-null  object
 8   causa_acidente                    42070 non-null  object
 9   tipo_acidente                     42070 non-null  object
 10  classificacao_acidente            42070 non-null  object
 11  fase_dia                          42070 non-null  object
 12  sentido_via                       42070 non-null  object
 13  condicao_metereologica            42070 non-null  object
 14  tipo_pista                        42070 non-null  object
 15  tracado_via                       42070 non-null  object
 16  uso_solo                          42070 non-null  object
 17  pessoas                           42070 non-null  int64
 18  mortos                            42070 non-null  int64
 19  feridos_leves                     42070 non-null  int64
 20  feridos_graves                    42070 non-null  int64
 21  ilesos                            42070 non-null  int64
 22  ignorados                         42070 non-null  int64
 23  feridos                           42070 non-null  int64
 24  veiculos                          42070 non-null  int64
 25  latitude                          42070 non-null  object
 26  longitude                         42070 non-null  float64
 27  regional                          42065 non-null  object
 28  delegacia                         42053 non-null  object
 29  unidade_operacional_policiamento  42006 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(9), object(18)
memory usage: 9.6+ MB

In [70]:
exemplo = dados_renomeado["data"][0].day
exemplo

1

In [71]:
# verificar a existência de dados nulos
dados_renomeado.isnull().sum()

id                                    0
data                                  0
dia_semana                            0
horario                               0
uf                                    0
br                                  138
km                                  138
municipio                             0
causa_acidente                        0
tipo_acidente                         0
classificacao_acidente                0
fase_dia                              0
sentido_via                           0
condicao_metereologica                0
tipo_pista                            0
tracado_via                           0
uso_solo                              0
pessoas                               0
mortos                                0
feridos_leves                         0
feridos_graves                        0
ilesos                                0
ignorados                             0
feridos                               0
veiculos                              0
latitude                              0
longitude                             0
regional                              5
delegacia                            17
unidade_operacional_policiamento     64
dtype: int64

In [72]:
dados_renomeado["regional"]  = dados_renomeado["regional"].fillna("N/A")
dados_renomeado["delegacia"]  = dados_renomeado["delegacia"].fillna("N/A")
dados_renomeado["unidade_operacional_policiamento"]  = dados_renomeado["unidade_operacional_policiamento"].fillna("N/A")

In [74]:
dados_renomeado["br"]  = dados_renomeado["br"].fillna("N/A")
dados_renomeado["km"]  = dados_renomeado["km"].fillna("N/A")

In [75]:
dados_renomeado.isnull().sum()

id                                  0
data                                0
dia_semana                          0
horario                             0
uf                                  0
br                                  0
km                                  0
municipio                           0
causa_acidente                      0
tipo_acidente                       0
classificacao_acidente              0
fase_dia                            0
sentido_via                         0
condicao_metereologica              0
tipo_pista                          0
tracado_via                         0
uso_solo                            0
pessoas                             0
mortos                              0
feridos_leves                       0
feridos_graves                      0
ilesos                              0
ignorados                           0
feridos                             0
veiculos                            0
latitude                            0
longitude                           0
regional                            0
delegacia                           0
unidade_operacional_policiamento    0
dtype: int64

In [76]:
dados_renomeado.describe()

,id,pessoas,mortos,feridos_leves,feridos_graves,ilesos,ignorados,feridos,veiculos,longitude
count,42070.000000,42070.000000,42070.000000,42070.000000,42070.000000,42070.000000,42070.000000,42070.00000,42070.000000,42070.000000
mean,441795.739553,2.391657,0.084288,0.841502,0.279558,1.021274,0.165034,1.12106,1.651177,-46.742293
std,21282.218772,2.052391,0.338175,1.061013,0.616574,1.624382,0.518849,1.18470,0.715919,6.178459
min,405147.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,1.000000,-69.031306
25%,419441.250000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.00000,1.000000,-50.585962
50%,448472.500000,2.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.00000,2.000000,-47.951644
75%,460114.750000,3.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.00000,2.000000,-42.702048
max,475374.000000,75.000000,7.000000,50.000000,31.000000,56.000000,54.000000,55.00000,21.000000,-34.828400